@media screen and (max-width: 767px) {
    .wrapper {
        top: 0%;
        border-radius:0;
    }
    .sidenav {
        width: 100%;
        height: auto;        
        position: absolute; 
        bottom: 0%;
        border-radius: 0;
        flex-direction: unset;
        justify-content: space-evenly;
    }
    .pad{
        padding: 0 !important;
    }
    .pad-content{
        padding: 10px;
    }
    main{
        padding: 0;
    }
    .nav-bar{
        border-radius: 0px;
    }
    .sidenav h1{
        display: none;
    }
    .nav-bar h1{
        display: block;
        color: white;
        letter-spacing: 3px;
        margin: 0;
        font-family: 'Dancing Script', cursive;
    }
    .img-container audio{ 
        padding:0 10px;
    }
    .img-container h2{
        font-size: 50px;
    }
    .audio-visible:hover .img-container h2{
        font-size: 60px;
    }
}

@media screen and (max-width: 1400px) {
    .nav-bar{
        height: 7vh;   
    }

    .img-container{
        height: 400px;
        display: flex;
    }
}

@media screen and (max-width: 576px){
    .carousel-control-next-icon, .carousel-control-prev-icon {       
        width: 1rem;
        height: 1rem;      
    }
    .carousel-control-next, .carousel-control-prev {
        width: 10%;
    }
    .audio-visible .img-container audio {
        display: block; /* Hide audio by default */
    }
     .img-container h2{
        font-size: 60px;
    }
}
